<div class="row">
  <div class="col-md-12"><img src="" alt="" class="img-responsive" /></div>
</div>
<div class="row">
  <div class="col-md-12"><h1>Recipe Name</h1></div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button type="button" class="btn btn-lg btn-default dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add To Shopping list</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12"><p>Description</p></div>
</div>
<div class="row"><div class="col-md-12">ingrediants</div></div>
