<div class="row">
  <div class="col-md-12">
    <form>
      <div class="row">
        <div class="formgroup col-sm-5">
          <label for="name">Name</label
          ><input type="text" class="form-control" />
        </div>
        <div class="formgroup col-sm-2">
          <label for="amount">Amount</label
          ><input type="number" class="form-control" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-info" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
